<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4" role="banner">

  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4> <i class="fa fa-home"></i> </h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink=""> Home</a>
                  <a class="dropdown-item" routerLink="matches">Matches</a>
                  <a class="dropdown-item" routerLink="players">Players</a>
                  <a class="dropdown-item" routerLink="addmatch">Add match</a>
                  <a class="dropdown-item" routerLink="addteam">Add Team</a>
                  <a class="dropdown-item" routerLink="addplayer">Add Player</a>
                  <a class="dropdown-item" routerLink="admin">Admin</a>
                  <a class="dropdown-item" routerLink="signup">Signup</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <a href="#"
          class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
            class="icon-menu h3 text-white"></span></a>
      </div>
    </div>
  </div>

</header>