<app-banner title='title'></app-banner>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-9">
                <form #addMatchForm="ngForm" (ngSubmit)='addmatch()'>

                    <div class="form-group">
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="match.scoreOne" placeholder="First team score">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="match.scoreTwo" placeholder="Second team score">
                    </div>
 
                    <div class="form-group">
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="match.teamOne" placeholder="First team name">
                    </div>
 
                    <div class="form-group">
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="match.teamTwo" placeholder="Second team name">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5" >{{title}} Match </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>